<p id="notice"><%= notice %></p>


<%= form_with(url: '/salons', method: 'get', local: true) do %>
  <%= text_field_tag(:search) %>
  <%= submit_tag("Search") %>
<% end %>
<h1>Salons</h1>

<!-- <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Comment</th>
      <th>Tokio</th>
      <th>Ie</th>
      <th>Design</th>
      <th>Straight</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @salons.each do |salon| %>
      <tr>
        <td><%= salon.name %></td>
        <td><%= salon.address %></td>
        <td><%= salon.phone %></td>
        <td><%= salon.comment %></td>
        <td><%= salon.tokio %></td>
        <td><%= salon.ie %></td>
        <td><%= salon.design %></td>
        <td><%= salon.straight %></td>
        <td><%= link_to 'Show', salon %></td>
        <td><%= link_to 'Edit', edit_salon_path(salon) %></td>
        <td><%= link_to 'Destroy', salon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br> -->



<%= link_to 'サロン登録をする', new_salon_path, class: "btn btn-primary" %>

<p style="text-align:right;">店舗数: <%= Salon.all.count %></p>
<div class="row">
<% @salons.each do |salon| %>
<div class="card col-md-4" >
  <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
  <% if salon.image.attached? %>
    <p>
      <br>
      <%= image_tag salon.image, width: "100%", class: "salon-pic" %>
    </p>
  <% end %>
  <div class="card-body">
    <h5 class="card-title"><%= salon.name %></h5>
    <p class="card-text"><%= salon.comment %></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><i class="fas fa-map-marker-alt"></i> <%= salon.address %></li>
    <li class="list-group-item"><i class="fas fa-phone-square"></i> <%= salon.phone %></li>
    <li class="list-group-item"><i class="fas fa-external-link-alt"></i> http://www._____.com</li>
  </ul>
  <h6 class="card-title">Menu</h6>
  <ul class="list_of_products">
    <li><% if salon.tokio == true %>
        Cut
        <% end %>
    </li>
    <li><% if salon.ie == true %>
        Shampoo
        <% end %>
    </li>
    <li><% if salon.design == true %>
        Color
        <% end %>
    </li>
    <li><% if salon.straight == true %>
        Perm
        <% end %>
    </li>
  </ul>
  <ul>

  </ul>

  <div class="card-footer">
    <p>
    <%= link_to '詳細', salon, class: "links_to" %> |
    <%= link_to '編集', edit_salon_path(salon), class: "links_to" %> |
    <%= link_to '削除', salon, method: :delete, data: { confirm: '削除します。よろしいですか?' }, class: "links_to" %>
    </p>
  </div>
</div>
<% end %>
</div>

