<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @salon.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @salon.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @salon.phone %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @salon.comment %>
</p>

<p>
  <strong>Tokio:</strong>
  <%= @salon.tokio %>
</p>

<p>
  <strong>Ie:</strong>
  <%= @salon.ie %>
</p>

<p>
  <strong>Design:</strong>
  <%= @salon.design %>
</p>

<p>
  <strong>Straight:</strong>
  <%= @salon.straight %>
</p>

<%= link_to 'Edit', edit_salon_path(@salon) %> |
<%= link_to 'Back', salons_path %>
